@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Web application development coursework</h1>
    <p>
        STUDENT ID:  <span class="badge rounded-pill bg-warning">00012190</span>
    </p>
    <br />
    <h1 class="display-4">Thank you for visiting!</h1>
</div>
